.hero {
    background-image: url(https://www.wallpaperup.com/uploads/wallpapers/2015/01/13/584685/cb47ed65fe0994d2af8ae6809a148a0b.jpg);
    max-width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.title.box {
    background-color: rgba(0, 0, 0, 0.298);
}

.blurred{
    filter: blur(2px);
}

.column.box{
    background-color: rgba(255, 255, 255, 0.58);
    margin: 50px;
}

#map {
    height: 400px;
    width: 100%;
}
