.hero {
  background-image: url(https://htmlcolors.com/gradients-images/41-light-green-gradient.jpg);
  max-width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.logo {
  color: rgb(255, 255, 255);
  font-family: monospace;
  margin: 0px 5px;
  border-top-left-radius: 100px;
}
.hide {
  display: none;
}

.style{
  border-radius: 200px;
  border-style: none;
  background-color: transparent;
}

img{ 
  border-radius: 180px;
}  

.box {
  background-color: rgba(0, 0, 0, 0.298);
}